name: WIF Test

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/246240278810/locations/global/workloadIdentityPools/github-pool/providers/github"
          service_account: "github-ci-bq@delhi-weather-app-479422.iam.gserviceaccount.com"
          audience: "https://github.com/namannparashar/delhi-aqi-forecasting"

      - name: gcloud auth list
        run: gcloud auth list

      - name: bq ls
        run: bq ls --project_id delhi-weather-app-479422
